# minimal settings for orientstore

DB_HOST = 'localhost'
DB_PORT = 2424
DB_USER = 'root'
DB_PASS = 'root'
DB_NAME = 'GratefulDeadConcerts'

# could be 'document' or 'graph'
DB_TYPE = 'graph'

# could be 'local', 'plocal', or 'memory'
DB_STORAGE_TYPE = 'plocal'
